{% include 'accounts/accnav.html' %}
{% block body_block%} 
<center> 
  <form method="post" action="/accounts/login/">
    {% csrf_token %}
      <div class="container">
        <h2>
          Please sign in
        </h2>
          <table>
            <tr>
              <td>
                <input class="form-control" placeholder="Username" name="username" type="text">
              </td>
            </tr>
            <tr>
              <td>
                <input class="form-control" placeholder="Password" name="password" type="password" value="">
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  <input name="remember" type="checkbox" value="Remember Me">  Remember Me
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
              </td>
            </tr>
          </table>
      </div>
  </form>
</center>
<style type="text/css">
  .container{
    margin-top:10%;
  }
  .form-control{
    width: 300;
    height:50;
  }
  table{
    width:50%
    margin:auto;
  }
</style>
{% endblock %}
{% include 'includes/footer.html' %}