	{% extends "includes/newbes.html" %}
	
    {% block body_block%}


 <center>
	<form class="form-horizontal" action='/accounts/profile/' method="POST">
 {% csrf_token %}
  <fieldset>
    <div id="legend">
      <legend class="">Register</legend>
    </div>


    <div class="control-group">
      <!-- Username -->
      
      <div class="controls">
        <input type="text" id="username" placeholder="Username" name="username" value="{{user.username}}" class="input-xlarge" disabled>
      </div>
    </div>
 

    <div class="control-group">
      <!-- first_name -->
     
      <div class="controls">
        <input type="text" id="first_name" placeholder="first_name" name="first_name" value="{{user.first_name}}" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- last_name -->
      
      <div class="controls">
        <input type="text" id="last_name" placeholder="last_name" name="last_name" value="{{user.last_name}}" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      
      <div class="controls">
        <input type="email" id="email" placeholder="E-mail" name="email" value="{{user.email}}" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- phone -->
      
      <div class="controls">
        <input type="text" id="phone" placeholder="phone" name="phone" value="{{user.profile.phone}}" class="input-xlarge">
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      
      <div class="controls">
        <input type="password" placeholder="Password" id="password" name="password" class="input-xlarge"required>
        
      </div>
      <input type="password" placeholder="Confirm password" id="password" name="password" class="input-xlarge" required="password">
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Update</button>
      </div>
    </div>
  </fieldset>
</form>
</center>

    {% endblock %}