{% include "accounts/signnav.html" %}
{% block body_block%}  
<form class="form-horizontal" action='/accounts/signup/' method="POST" style="text-align:left;">
 {% csrf_token %}
 <center>
  <fieldset>
    <div class="control-group">
      <!-- first_name -->
      <div class="controls">
        <input type="text" id="first_name" name="first_name" placeholder="First name" class="input-xlarge" required>
      </div>
    </div>
    <div class="control-group">
      <!-- last_name -->
      <div class="controls">
        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="input-xlarge" required>
      </div>
    </div>

    <div class="control-group">
      <!-- Username -->
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="Username" class="input-xlarge" required>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="E-mail" class="input-xlarge" required>
      </div>
    </div>

    <div class="control-group">
      <!-- phone -->
      <div class="controls">
        <input type="text" id="phone" name="phone" placeholder="Phone" class="input-xlarge" required>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="Password" class="input-xlarge" required>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>
  </center>
</form>
{% endblock %}
{% include 'includes/footer.html' %}