{% load staticfiles %}
<! DOCTYPE html>
  <head>
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">     

<style>
body {margin: 0;}

@media screen and (max-width: 600px){
  ul.topnav li.right, 
  ul.topnav li {float: none;}    
}
 
#icons{
  font-size:20;
  color:white ;  
}
 

ul b{
  color:white;
}

nav{
  background:#355C7D/* darkblue*/;
  height:40;
  width: 100%;      
}

.right{
  float:right;
  margin-right:20;
  padding:10;
  font-size:20;
}

small{
  color:white;
}

.left{
  float:left;
  padding:10;
  font-size:20;
}

</style>
</head>

<nav class="navbar navbar-expand-bg bg-light" >
<ul>
  {% if request.user.is_authenticated %}

  <li><a href="#" class="seperate"></a></li>
  <li class="left">
    <a " href="{% url 'dashboard' %}">      
      <b " class="glyphicon glyphicon-home">       
      </b>
      <small>Home</small>      
    </a>
  </li>

  <li class="left" >
    <a href="{% url 'sms_tiles' %}"  href="javascript:void(0)">
      <b id="icons" class="glyphicon glyphicon-comment">            
      </b>
      <small>SMS</small>                
    </a>        
  </li>

  <li class="left">
    <a href="{% url 'at_tiles' %}">
      <b id="icons" class="glyphicon glyphicon-phone">          
      </b>
      <small>Airtime</small>
    </a>
  </li> 

  <li class="left">
    <a  href="{% url 'payment_tiles' %}">        
      <i  id="icons"  class="glyphicon glyphicon-briefcase">          
      </i>
      <small>Payments</small>
    </a>      
  </li>

  <li class="left" >
    <a  href="{% url 'voice_tiles' %}">
      <i  id="icons"  class="glyphicon glyphicon-volume-up">          
      </i>
      <small>Voice</small>
    </a>
  </li>

       
  

  <li class="right">
    <a href="{% url 'profile' %}" >
      <small>Profile</small>
      <i  id="icons"  class="glyphicon glyphicon-user">              
      </i>
    </a>
  </li> 

  <li class="right">
    <small>hello {{ request.user.username }}</small>      
  </li>

  {% endif %}  
</nav>
</html>
