{% extends 'includes/newbes.html' %}
{% block body_block %}
<div style="padding-top:5%;">
<h1>Bulk SMS</h1>
<center>
<form  action="{% url 'bulks' %}"  enctype="multipart/form-data">
{% csrf_token %}
	<table>
	<tr>
	   <td>
		<p>
		    <b>
		      Upload Contacts 
		    </b>
		</p>
			<input type="file" name="browse" value="browse" accept=".csv" required>
		</td>
	</tr>
	<tr>
		<td>
		    <p>
				<b>
				  Message
			    </b>
			</p>
			<textarea type="text" id="messg" name="sms_message"
			{% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %} minlength="3" maxlength="256" required></textarea>
		</td>
	</tr>
	<tr>
	    <td>
			<button type="submit"  formmethod="POST" action="sms/bulks.html">Send</button>
		</td>
	</tr>
	</table>
</form>
</center>
<style type="text/css">
    button{
    	width:80;
    	height:40;
    	color:green;
    }

    input{
    	
    	height:50;
    }

	table{
		width:600px;
		height: 400px;
		padding-top:5%;
		margin-left:10;
	}

	#messg{
		height: 200;
		width: 500;
		margin:left;
		text-align:left;
		background-color:#B0E0E6;
		}

	h1{
		float:left;
		margin-left:10%;
		color:green;
	}
</style>	
</div>
{% endblock %}

