{% extends 'includes/newbes.html' %}
{% block body_block %}
<div style="padding-top:2%;">
    <h1>
     SMS  
    </h1>
     <h3>
       <a href="{% url 'send_sms' %}" >Send</a>
       |
       <a href="{% url 'bulks' %}" id="active" >Bulk</a>
       |
       <a href="{% url 'sms_schedule' %}">Schedule</a>

     </h3>
<center>
<form  action="{% url 'bulks' %}"  enctype="multipart/form-data">
{% csrf_token %}
	<table>
	<tr>
	   <td>
		<p>
		    <b>
		      Upload Contacts 
		    </b>
		</p>
			<input type="file" name="browse" value="browse" accept=".csv" required>
		</td>
	</tr>
	<tr>
		<td>
		    <p>
				<b>
				  Message
			    </b>
			</p>
			<textarea type="text" id="messg" name="sms_message"
			{% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %} minlength="3" maxlength="256" required></textarea>
		</td>
	</tr>
	<tr>
	    <td>
			<button type="submit"  formmethod="POST" action="sms/bulks.html">SEND</button>
		</td>
	</tr>
	</table>
</form>
</center>
<style type="text/css">
    
    #active{
        background:green;
        height:80;
        border:solid;
        color:white;
        width:300;
        padding:20;
        text-align:center;
    }

    h1{
        margin-left:5%;
        color:teal;
        width:500;
    }

    h3{
	  margin-left:10%;
	}

	a{
	 color:teal;
    }


    button{
    	width:80;
    	height:40;
    	color:green;
    }

    input{
    	
    	height:50;
    }

	table{
		width:600px;
		height: 400px;
		margin-left:20;
	}

	#messg{
		height: 200;
		width: 500;
		margin:left;
		text-align:left;
		background-color:#B0E0E6;
		}

	
</style>	
</div>
{% endblock %}

