{% extends 'includes/newbes.html' %}
{% block body_block %}
<div style="padding-top:5%;">
   <h1>SMS</h1>
	<center>
	<div id="tad">
			<form  name="formt" action="{% url 'sacess'  %}">
				{% csrf_token %}
			<table id="tebo">
				<tr>
					<td>
						<b>Phone:</b>
					     <input id="receiver" name="phone" placeholder="Enter recipient here" width="40" minlength="13" maxlength="13" required>
					</td>
				</tr>
				<tr>
					<td>
						<p>
							<b>
							  Message
						    </b>
						</p>
						<textarea type="text" id="messg" name="sms_message"
						{% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %} minlength="3" maxlength="99999999999910" required></textarea>
					</td>	
				</tr>
				<tr>
					<td>
						<button type="submit" formmethod="POST" onclick="wait()" action="sms/sms.html">
						SEND
					</button>
					</td>
				</tr>
			</div>
			</table>
			</form>
		</div>
		<script type="text/javascript">
			function wait(){
				alert("Sending text");
			}
		</script>
		<style type="text/css">
		#receiver{
			width:250;
			height:35;
		}

		button{
			width:80;
			height:40;
			color:green;
		}

		h1{
			color:green;
			margin-left:10%;
		}

		#tebo{
			margin: auto;
			width:600px;
			height: 400px;
		}	

		#messg{
			height: 200;
			width: 500;
			margin:left;
			text-align:left;
			background-color:#B0E0E6;
		}	
		</style>
</center>
</div>
{% endblock %}

