{% extends 'includes/newbes.html' %}
{% block body_block %}
<div style="padding-top:2%;">
    <h1>
     SMS  
    </h1>
     <h3>
       <a href="{% url 'send_sms' %}" id="active" >SendSMS</a>
       |
       <a href="{% url 'bulks' %}">BulkSMS</a>
       |
       <a href="{% url 'sms_schedule' %}">Schedule</a>
       |
        <a href="{% url 'smshistory' %}">History</a>


     </h3>
	<center>
	<div id="tad">
			<form  name="formt" method="POST" action="{% url 'send_sms'  %}">
				{% csrf_token %}
			<table id="tebo">
				<tr>
					<td>
					    <b>Sender ID:</b>
						<select style="width:220;height:35;" name="sender_id">
						    <option value="SalaryPayment" >
                              Default(Africastalking)
                            </option>
                            <option value="BusinessPayment">
                              My Custom ID
                            </option>                            
                        </select>
                    
					</td>
				</tr>

				<tr>
					<td>
						<b>Name:</b>
					     <input id="receiver" name="name" placeholder="Enter recipient name here" width="40"  required>
					</td>
				</tr>

				<tr>
					<td>
						<b>Phone:</b>
					     <input id="receiver" name="phone" placeholder="Enter recipient no. here" width="40" minlength="13" maxlength="13" required>
					</td>
				</tr>
				<tr>
					<td>
						<p>
							<b>
							  Message
						    </b>
						</p>
						<textarea type="text" id="messg" name="sms_message"
						{% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %} minlength="3" maxlength="99999999999910" required></textarea>
					</td>	
				</tr>
				<tr>
					<td>
						<input type="submit" value="SEND">								
					</td>
				</tr>
			</div>
			</table>
			</form>
		</div>
		<script type="text/javascript">
			function wait(){
				alert("Sending text");
			}
		</script>
		<style type="text/css">

		#active{
          background:green;
          height:80;
          border:solid;
          color:white;
          width:300;
          padding:20;
          text-align:center;
        }


		#receiver{
			width:250;
			height:35;
		}

		h3{
		  margin-left:10%;
	    }

	    a{
		 color:teal;
       	}

		button{
			width:80;
			height:40;
			color:green;
		}

		h1{
            margin-left:5%;
            color:teal;
            width:500;
        }

		#tebo{
			margin: auto;
			width:600px;
			height: 400px;
		}	

		#messg{
			height: 200;
			width: 500;
			margin:left;
			text-align:left;
			background-color:#B0E0E6;
		}	
		</style>
</center>
</div>
{% endblock %}

