
{% include 'includes/navba.html'%}
<div>
    {% block content %}
	<h1>
    <table style="margin:auto;">
    	<th> 
         Please comfirm
       	</th>
    	<tr>
    		<td>
    		  You want to send: " {{sms_message}} "
    		</td>
    	</tr>
    	<tr>
    	    <td>
    	   	  To: " {{phone}} " 
    	    </td>
    	</tr>
    	<tr>
    		<td>
    			<form method="POST" name="okay">
    				{% csrf_token %}
                    <h1>
                        <input style="background:green;" type="submit" name="k" value="Yes">
                    </h1>
    			</form>    			
    		</td>
    	<tr>
    		<td>
    	    	Or
    	    </td>
    	</tr>
    	<tr>
    		<td>
                <h1>
                    <a style="background:red;color:white;" href="{% url "sms" %}">
                       No
                    </a>
                </h1>
    		</td>
    	</tr>
    	</table>
    </h1>
    {% endblock %}
</div>
<div>
    {% include 'includes/footer.html' %}
</div>