{% extends 'includes/newbes.html'%}
{% block body_block %}
<div id="bud" style="padding-top:5%;">
<center>
<h2>SMS history</h2>
   {% if users %}
		<table border="1" id="dbtable">
            <tr class="fixed">
				<td>
				<b>
				  Date
				</b>
				</td>
				<td>
				<b>
				  Content
				</b>
				</td>
				<td>
				<b>
				  Destination
				</b>
				</td>
				<td>
				<b>
				  Status
				</b>
				</td>
				<td>
				<b>
				  Action
				</b>
				</td>
			</tr>
			{% for user in users %}
			<tr class='fixed1'>
				<td>{{user.date}}</td>
				<td>{{user.content}}</td>
				<td>{{user.destination}}</td>
				<td>{{user.status}}</td>
				<td><a href="/sms/delete/{{sms_stat.id}}">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
		<div id="pag">
		{% if users.has_other_pages %}
		<ul class="pagination">
		{% if users.has_previous %}
		    <li>
                <a href="?page={{ users.previous_page_number }}">
                   &laquo;
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span>
                  &laquo;
                </span>
            </li>
        {% endif %}
        {% for i in users.paginator.page_range %}
        {% if users.number == i %}
            <li class="active">
                <span class="sr-only">
                    <b>{{ i }}</b> 
                </span>
            </li>
       {% else %}
            <li>
               <a href="?page={{ i }}">
                 <b>{{ i }}</b>
               </a>
            </li>
        {% endif %}
        {% endfor %}
        {% if users.has_next %}
            <li>
                <a href="?page={{ users.next_page_number }}">
                   &raquo;
                </a>
            </li>
       {% else %}
            <li class="disabled">
                <span>
                  &raquo;
                </span>
            </li>
       {% endif %}
        </ul>
        {% endif %}
        </div>
	    {% else %}
			<p>Nothing to display</p>
		{%endif %}
</center>
</div>
	<style type="text/css">
	    #dbtable{
			width:95%;
			margin-top:2%;
			border-collapse:collapse;
		}

		.fixed td{
			height: 10;
            background-color:green;
            
		}
		
		.fixed1{
			background-color:#B0E0E6;
		    overflow:hidden;			
		}

		#pag{
			width:100%;
			position:fixed;
		}

		.pagination a{
			color:black;
			margin-left:20%;
		}

		.pagination .active{
			color:green;
		}


				
	</style>
{% endblock %}
</div>
</html>

