<! DOCTYPE html>
{% extends 'includes/newbes.html'%}
<div>
{% block body_block %}
<body>
<strong>
	<center>
		{% if sms_stats %}
		<h2>SMS history</h2>
		<table border="1" id="dbtable">
            <tr class="fixed">
				<td>
				<b>
				  Date
				</b>
				</td>
				<td>
				<b>
				  Content
				</b>
				</td>
				<td>
				<b>
				  Destination
				</b>
				</td>
				<td>
				<b>
				  Status
				</b>
				</td>
				<td>
				<b>
				  Action
				</b>
				</td>
			</tr>
			{% for sms_stat in sms_stats %}
			<tr class='fixed1'>
				<td>{{sms_stat.date}}</td>
				<td>{{sms_stat.content}}</td>
				<td>{{sms_stat.destination}}</td>
				<td>{{sms_stat.status}}</td>
				<td><a href="/sms/delete/{{sms_stat.id}}">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>Nothing to display</p>
		{%endif %}
	</center>
	<style type="text/css">
		#dbtable{
			width:95%;
			margin-top:60;
            position: relative;
			border:solid;
			
		}
		.fixed td{
			position:relative;
			overflow: hidden;
            height: 10;
            background-color:green;
		}
		
		.fixed1{
			background-color:#B0E0E6;
		}
		
	</style>
</strong>
</body>
{% endblock %}
</div>
</html>

