<div>
	{% include 'includes/topnav.html' %}
</div>

{% block body_block%} 
  {% if request.user.is_authenticated %} 
    	Hi '{{ request.user.username }}'
	{% endif %}
	{% block body %}
	
   	<body border='1'>
   		<h2 style="color:green;">
   			<u>
   			  Products 4 U
   		    </u>
  		</h2>
  		<h1>
  			<ol style="text-align:left;">
  				<div>
  					<li>
  					  Airtime
  					   <ul type="circle">
  						  <li style="color:yellow;">MTN</li>
  						  <li style="color:red;">Airtel</li>
  						  <li style="color:orange;">Africell</li>
  					   </ul>
  					</li>
  				</div>
  				<div>
  					<li>
  						SMS
  						<ul type="circle" >
  						  <li>Simple SMS</li>
  						  <li>Bulk SMS</li>
  				    	</ul>
  				    </li>
  				</div>
  				<div>
  					<li>
  					  Voice  					
  				    </li>
  				</div>
  				<div>
  					<li>
  					  Payments
  				    </li>
  				</div>
  			</ol>
  		</h1>
  		</body>
     {% endblock %}

{% endblock %}