{% include "includes/header.html" %}
<body>
	<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'index' %}">HelloAT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated  %}
          <li> <a href="/dashboard/">Dashboard</a> </li>
          <li> <a href="/accounts/profile/">Profile</a> </li>
          <li> <a href="/accounts/logout/">Sign out </a> </li>
          {% else %}
            <li><a href="/accounts/login/">Sign In </a></li>
            <li>
              <a class="signup-btn btn btn-success" href="/accounts/signup/">Get started</a>
            </li>
          {% endif %}
      </ul>
      </div>
    </nav>
   
    <div class="container">
	    {% block body_block %}
	    {# Anything outside of this will be inherited if you use extend.#}
	    {% endblock %}
    </div>
    
    <div class="container-fluid footer-content">
      {% include "includes/footer.html" %}
    </div>   

</body>
</html>