<footer class="footer row-m-t">
  <div class="container">
    <ul class="footer-items">
    <li> © 2018 HelloDjango |</li>
    <li href="/support/contact/">
      Contact us|+25678******|+2567*******|
    </li>
    <li href="https://africastalking.com" >
      Powered by Africa's Talking APIs
    </li>
  </ul>
  </div>
</footer>
<style type="text/css">
	footer {
    background-color: green;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
</style>