<! DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
</body>
<footer class="footer ">
  <div >
    <ul>
      <li>
        <b>
          <i>
            0zz
          </i>
          © 2018
        </b>
        |      
      </li>
      <li>
         |
         <i class="fa fa-phone-square"></i>
         <i>Contact:</i>
         +256783013570 +2567*******  |  
      </li>
      |
      <strong>
        <span>
          <a href="https://africastalking.com">
            Powered by Africa's Talking APIs
          </a>
        </span>
      </strong>
    </ul>
  </div>
  
</footer>
<style type="text/css">
	footer {
    background-color: green;
    position: fixed;
    margin-bottom:0;
    left: 0;
    bottom: 0;
    height: 65px;
    width: 100%;
    overflow: hidden;
}

ul{list-style-type: none;}
li {float:left;}
</style>
</html>