<! DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
</body>
<footer class="footer ">
  <div >
    <ul>
      <li>
        © 2018 HelloDjango|
      </li>
      <li>
        <i class="fa fa-phone-square"></i>
        +25678****** +2567*******|
      </li>
      <strong style="color:white;">
        <a href="https://africastalking.com">
          Powered by Africa's Talking APIs
        </a>
      </strong>
    </ul>
  </div>
  <div id="dbar">
    </div>
</footer>
<style type="text/css">
	footer {
    background-color: green;
    position: absolute;
    left: 0;
    bottom: 35px;
    height: 65px;
    width: 100%;
    overflow: hidden;
}

ul{list-style-type: none;}
li {float:left;}
</style>
</html>