{% extends 'includes/newbes.html'%}
{% block body_block %}
<div style="padding-top:5%;">
<center>
<h1>
	Call Center
</h1>

<div id="fwno">
    <form name="addno" method="POST" action="{% url 'fwd' %}">
       {% csrf_token %}
        <table style="border-collapse:collapse;">
            <tr>
            	<td style="color:teal;">
            		<b>
            		  Add Forwardable Numbers:
            		</b>
            	</td>
            </tr>
            <tr>
                <td>
      	           <input id="addno" type="text" name="addno" required>
      	        </td>
       	        <td>
       	           <input type="submit" value="+" id="plus" name="sub" required="addno">
       	        </td>
       	    </tr>
       	</table>
    </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                 {{ message }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}	
    {% if stats %}
        <table  id="dbtable" style="text-align:left;">
		    <tr>
           	    <td style="color:green;">
           		    <b>
           			   Your Numbers
           		    </b>
           	    </td>
            </tr>
            {% for stat in stats %}
			<tr class='fixed1'>
				<td>{{stat.num}}</td>
				<td>
				    <a href="/voice/delete/{{stat.id}}">
				       <i style="color:red;">remove</i>
				    </a>
				</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
            <p>
        	  No Added Numbers
        	</p>
    {% endif %}
</div>

<div id="left">
    <form name="que" method="GET" action="{% url 'fwd' %}">
		{% csrf_token %}
		<table id="tebo">
		    <tr>
		        <td>
			        <input id="rout_number" placeholder="+256783013570"  name="route_number" readonly>
		        </td>		        
		    </tr>

			<tr>
				<td>
					<p>
						<b style="color:teal;">
						  Enter welcome Message
					    </b>
					</p>
					<textarea type="text" id="messg" name="fw_message"
					 required></textarea>
				</td>	
			</tr>

			<tr>
				<td>
					<input type="radio" name="voice" value="male" checked>
					  Female
					<br>
					<input type="radio" name="voice" value="female">
					 Male
					</br>
					<input type="submit" value="update">
				</td>
			</tr>
		</table>
	</form>
</div>

</center>
<style type="text/css">
	#fwno{
		float:right;
		margin-right:20%;
		width:20%;
		
	}

	#left{
		float:left;
		margin-left:15%;
	}

	#rout_number{
		width:200;
		height:40;
	}

	#addno{
		width:200;
		height:40;
	}

	#plus{
		width:60;
		height:30;
		background:green;
	}

	
	#tebo{
		width:50%;
		height:50%;
		text-align:left;
		margin-left:10;
	}
	#messg{
		height: 100;
		width: 400;
		margin:left;
		text-align:left;
		background-color:#B0E0E6;
		}
    .messages{
    	color:red;

		}

	h1{
		color:green;
		text-align:left;
		margin-left:50;
	}	
</style>
</div>
{% endblock %}


