{% extends 'includes/newbes.html' %}
{% load staticfiles %}
{% block body_block %}
<div style="padding-top:10%;text-align:center;" >
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
  </head>
    <marquee>
      <h1 style="font-size:60;">Airtime</h1>
    </marquee>
    <div id="bar_div">
      <table style="margin:auto;text-align:center;width:70%;height:60%;">
        <tr>
          <td>
            <output id="toto">
              <a href="{% url 'at_buy' %}">
                <b style="font-size: 50;" class="glyphicon glyphicon-phone">               
                </b>
              </a>                      
            </output>
              <a class="bronx" href="{% url 'at_buy' %}">
                <b>Single recharge</b>
              </a>
            </b>              
          </td>

          <td>
            <output id="toto">
              <a href="{% url 'atbulk' %}">
                <b style="font-size: 50;" class="glyphicon glyphicon-menu-hamburger">      
                </b>
              </a>                     
            </output>
              <a class="bronx" href="{% url 'atbulk' %}">
                <b>Multiple recharge</b>
              </a>                           
          </td>          
        </tr>     
      
        <tr>
          <td>
            <output id="toto">
              <a href="{% url 'at_subscribe' %}">                     
                <b style="font-size: 50;" class="glyphicon glyphicon-time">
                </b>
              </a>
            </output>
              <a class="bronx" href="{% url 'at_subscribe' %}">
                <b>Subscribe</b>
              </a>
          </td>
          <td>
            <output id="toto">
              <a href="{% url 'ozz_history' %}">
                <b style="font-size: 50;" class="glyphicon glyphicon-calendar"></b>
              </a>
            </output>
              <a class="bronx" href="{% url 'ozz_history' %}">
                <b>History</b>
              </a>
            </b>   
          </td>
        </tr>            
      </table>
    </div>     
</div>

<style>

#toto{
  color:lime;
}

.toto{
  color:green;

}


.bronx{
  color:black;  
}



#bar_div {
  width:70%;
  height:60%;
  color:black;
  margin:auto;
}
</style>
</div>
{% endblock %}
