{% extends 'includes/newbes.html' %}
{% block body_block%} 
<div style="padding-top:2%;">
    <h1>Payments</h1>
    <h3>
        <a href="{% url 'payments' %}" class="page" >Deposit</a>
        |
        <a href="{% url 'bulk_pay' %}" id="active" >Bulk</a>
        |
        <a href="{% url 'schedule_pay' %}" class="page" >Schedule</a>
    </h3>
    <center>
    	<form method="POST" action="{% url 'bulk_pay' %}"  name="sub" enctype="multipart/form-data">
    	   {% csrf_token %}
    		<table>
    			<tr>
    				<td>
    				    <b>Upload Receivers:</b>
    				</td>
    				<td>
    					<input  type="file"  name="receiver" required>
    				</td>
    			</tr>

                <tr>
                    <td>
                        <b>Amount:</b>
                    </td>
                    <td>
                        <input class="enter" placeholder="Enter amount here" name="amount" required>
                    </td>
                </tr>

    			<tr>
    				<td>
                        <b>Reason:</b>
                    </td>
    				<td>
    					<textarea id="mm_reason" placeholder="Enter reason here" name="reason" required></textarea>
    				</td>
    			</tr>
    			<tr>
    				<td>
    					<input type="submit" id="send_button" value="SEND">
    				</td>
    			</tr>
    		</table>
    	</form>
    </center>
    <style type="text/css">

        td {
        	color:green;
        }

        #send_button{
        	width:100;
        	height:40;
        	color:green;
        }

        #mm_reason{
            width:300;
            height:100;
        }

        .enter{
        	width:250;
        	height:35;
        }

        #active{
           background:green;
           height:80;
           border:solid;
           color:white;
           width:300;
           padding:20;
           text-align:center;
        }

        table{
        	width:600;
        	height:300;
        }

    	h1{
           margin-left:5%;
           color:teal;
           width:500;
        }

        h3{
		   margin-left:10%;
	    }

	    .page{
		   color:teal;
	    }
    </style>
</div>
{% endblock %}
