{% extends 'includes/newbes.html' %}
{% block body_block %}
<div style="padding-top:10%;padding-left:10%;" >
	<div id="graph_div">

      <table id="t">
        <tr>
        <td>
        <div id="bar_div">
        <table>
            <th>
              <b id="yell">
                Send
              </b>
            </th>
            <tr>
                <td>
                    <output id="toto">
                     To one receiver
                    </output>
                </td>
            </tr>            
        </table>
    </div>
  </td>
  <td>
    <div id="bar_div">
      <table>
            <th>
              <b id="yell">
                BulkSend
              </b>
            </th>
            <tr>
                <td>
                    <output id="toto">
                     2 or more receivers
                    </output>
                </td>
            </tr>            
        </table>
    </div>
  </td>
</tr>

<tr>
    <td>
    <div id="bar_div1">
       <table>
            <th>
              <b id="yell">
                Schedule
              </b>
            </th>
            <tr>
                <td>
                    <output id="toto">
                     Set
                    </output>
                </td>
            </tr>            
        </table>
    </div>
  </td>
  
  <td>
    <div id="bar_div1">
       <table>
            <th>
              <b id="yell">
                History
              </b>
            </th>
            <tr>
                <td>
                    <output id="toto">
                     Transactions
                    </output>
                </td>
            </tr>            
        </table>
    </div> 
  </td>
</tr>

  </table>

    </div>
    
</body>
</center>
<style>

#toto{
  color:red;
}

.toto{
  color:green;

}

#wallet{
 margin-left:40;
 height:100;
 border:solid;
 width:120;
 border-color:green;
 text-align:center;
}

#yell{
  color:white;
  background:green;
}

#t{
  width:70%; 
  height: 60%;

}


#topbar {
  width:100%;
  height:40px;
  background:white;
  margin-top:5%;
  color:black;
  text-align:right;
  float:right;
}

#bar_div {
  width:80%;
  height:70%;
  background:#B0E0E6;
  margin:0;
  color:black;
}

#bar_div1 {
  width:80%;
  height:80%;
  background:#B0E0E6;
  margin:0;
  color:black;
}


#panel_div { 
  width:60%;
  height:100%;
  float:left;  
}


</style>
</div>
{% endblock %}
