{%extends 'includes/newbes.html'%}
{% block body_block %}
<div style="padding-top:2%;">
<h1>
  Airtime  
</h1>
<h3>
  <a href="{% url 'at_buy' %}" id="active">Buy</a>
  |
  <a href="{% url 'airtime' %}">MobileMoneyBuy</a>
  |
  <a href="{% url 'atbulk' %}">BulkBuy</a>
  |
  <a href="{% url 'at_subscribe' %}">Subscribe</a>
  |
  <a href="{% url 'ozz_history' %}">History</a>

</h3>
<center>
  <div id="at_buddy">
   <form method="POST" action="{% url 'buy' %}"  name="sub">
    {% csrf_token %}
    <table id="tebo">
      
      <tr>
        <td>
           <b>Number:</b>
          <input placeholder="Enter phone number here" class="in" name="phone"  required>
        </td>
      </tr>
      <tr>
        <td>
           <b>Amount:</b>
          <input placeholder="Enter amount here" class='in' name="amount" required>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" id="send_button" style="color:green;" name="Send" value="Buy">
        </td>
      </tr>
    </table>
  </form>
</div>
</center>
</div>
<style type="text/css">

  #send_button{
    width:70;
    height:40;
    margin-left:150;
  }

  .in{
    width:250;
    height:35;
  }


  #active{
    background:green;
    height:80;
    border:solid;
    color:white;
    width:300;
    padding:20;
    text-align:center;
  }


  h1{
    margin-left:5%;
    color:teal;
    width:500;
    }

  

  table{
    width:60%;
    height:40%;
    margin-left:250;
  }

  h2{
   margin-left:5%;
   width:50;
   padding:20;
   background:green;
  }

  a{
    color:teal;
  }


  h3{
    margin-left:10%;
    color:teal;          
  }
</style>
{% endblock %}