{% extends 'includes/newbes.html' %}
{% block body_block %}
<div style="padding-top:2%;">
<h1>
  Airtime  
</h1>
<h3>
  <a href="{% url 'at_buy' %}">0zz</a>
  |
  <a href="{% url 'airtime' %}">MobileMoney</a>
  |
  <a href="{% url 'atbulk' %}">Bulk</a>
  |
  <a href="{% url 'at_subscribe' %}" id="active" >Subscribe</a>

</h3>
<h2>
    <table>
	<tr>
	   	<ul>
	   	    <label>Daily</label>
	   	    <input type="checkbox" value="DAY">
	   	</ul>
	   	<ul>
	   	    <label>weekly</label>
	   	    <input type="checkbox" value="DAY">
	   	</ul>
	   	<ul>
	   	    <label>Monthly</label>
	   	    <input type="checkbox" value="DAY">
	   	</ul>
	   	
    </tr>
    </table>
</h2>
<center>
	<div style="margin bottom:500;">
	<form method="POST" action="{% url 'atbulk' %}"  name="sub" enctype="multipart/form-data">
		{% csrf_token %}
		<table id="tebo">
 
		    
			<tr>
				<td>
					Upload Contacts (<i style="color:green;">.csv</i>):
			    </td>
			   	<td>
			   		<input type="file"  name="contacts"  required>
			   	</td>
			</tr>
			<tr>
				<td>
				  Amount
				</td>
				<td>
					<input placeholder="Enter amount here" id="amount" name="amount" required>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" style="color:green;" name="Send" id="atbuy" value="Subscribe">
				</td>
			</tr>
		</table>
	</form>
    </div>
</center>
</div>
<style type="text/css">

   h2{
   	float:right;
   	margin-right:400;
   }
   
   h1{
    margin-left:5%;
    color:teal;
    width:500;
    }


    #active{
    background:green;
    height:80;
    border:solid;
    color:white;
    width:300;
    padding:20;
    text-align:center;
  }

    h3{
		margin-left:10%;
	}

	a{
		color:teal;
	}

   #amount{
   	 width:200;
   	 height:40;
   }

   #atbuy{
   	width:70;
   	height:30;
   }

	#tebo{
		width:50%;
		height:40%;
		margin-left:100;
	}
	
</style>
{% endblock %}