{% extends 'includes/newbes.html' %}
{% load staticfiles %}
{% block body_block %}
<div style="padding-top:2%;">
<head>
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<h1>
  Airtime  
</h1>
<h3>
  <a href="{% url 'at_buy' %}">Buy</a>
  |
  <a href="{% url 'airtime' %}">MobileMoneyBuy</a>
  |
  <a href="{% url 'atbulk' %}" id="active">BulkBuy</a>
  |
  <a href="{% url 'at_subscribe' %}">Subscribe</a>
  |
  <a href="{% url 'ozz_history' %}">History</a>

</h3>
    <a style="width:135;height:35;float:left;margin-top:100;margin-left:200;" href="{% url 'csv_download' %}" >
		<b style="color:red;">Download</b>(<i style="color:green;">.csv</i>)
	</a>
<center>
	<div>
	<form method="POST" action="{% url 'atbulk' %}"  name="sub" enctype="multipart/form-data">
		{% csrf_token %}
		<table id="tebo">
			<tr>
				<td>
					Upload Contacts (<i style="color:green;">.csv</i>):
					<input type="file"  name="contacts" >
			    </td>
			</tr>

			
			<tr>
				<td>
					<input type="submit" style="color:green;" name="Send" id="atbuy" value="Buy">
				</td>
			</tr>
		</table>
	</form>
    </div>
</center>
</div>
<style type="text/css">
   
   h1{
    margin-left:5%;
    width:500;
    }


    #active{
    background:green;
    height:80;
    border:solid;
    color:white;
    width:300;
    padding:2;
    text-align:center;
  }

    h3{
		margin-left:10%;
	}

	a{
		color:teal;
	}

   #amount{
   	 width:200;
   	 height:40;
   }

   #atbuy{
   	width:70;
   	height:30;
   }

	#tebo{
		width:50%;
		height:40%;
	}
	
</style>
{% endblock %}