{% extends 'includes/newbes.html' %}
<div>
{% block body_block %}
<strong>
	<center>
		{% if stats %}
			<table border="1" id="dbtable">
			<tr class="fixed">
				<td>
				<b>
				  Date
				</b>
				</td>
				<td>
				<b>
				  Amount
				</b>
				</td>
				<td>
				<b>
				  Status
				</b>
				</td>
				<td>
				<b>
				  Source
				</b>
				</td>
				<td>
				<b>
				  Destination
				</b>
				</td>
				<td>
				<b>
				  Action
				</b>
				</td>
			</tr>
			{% for stat in stats %}
			<tr >
				<td>{{stat.date}}</td>
				<td>{{stat.amount}}</td>
				<td>{{stat.status}}</td>
				<td>{{stat.source}}</td>
				<td>{{stat.destination}}</td>
				<td><a href="#">Edit</a>| <a href="/airtime/{{stat.id}}/delit">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>Nothing to display</p>
		{%endif %}
	</center>
	<style type="text/css">
		#dbtable{
			width:70%;
			
			margin-top:60;
		}
		.fixed td {
            position: relative;
            overflow: hidden;
            height: 10;
        }
	</style>
</strong>
{% endblock %}
</div>


