{% extends 'includes/newbes.html' %}
{% block body_block %}
<div id="bud" style="padding-top:5%;">
	<center>
		{% if users %}
		<h2> MobileMoney history</h2>
			<table border="1" id="dbtable">
			{% if messages %}
                <ul class="messages" style="color:red;">
                   {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                      <h3>{{ message }}</h3>
                    </li>
                   {% endfor %}
                </ul>
            {% endif %}
            <div style="padding-bottom:10;">
        	    <a href="#" onclick="warn()" id="clear">Clear History</a>
            </div>
			<tr class="fixed">
				<td>
				<b>
				  Date
				</b>
				</td>
				<td>
				<b>
				  Amount
				</b>
				</td>
				<td>
				<b>
				  Source
				</b>
				</td>
				<td>
				<b>
				  Status
				</b>
				</td>
				<td>
				<b>
				  Destination
				</b>
				</td>
				<td>
				<b>
				  Action
				</b>
				</td>
			</tr>
			{% for user in users %}
			<tr class="fixed1">
				<td>{{user.date}}</td>
				<td>{{user.amount}}</td>
				<td>{{user.source}}</td>
				<td>{{user.status}}</td>
				<td>{{user.destination}}</td>
				<td>
				    <a href="/airtime/delit/{{user.id}}" onclick="warn()">
				       <i style="color:red;">Delete</i>
				    </a>
				</td>
			</tr>
			{% endfor %}
		</table>

		<div id="pag">
		{% if users.has_other_pages %}
		<ul class="pagination">
		{% if users.has_previous %}
		    <li>
                <a href="?page={{ users.previous_page_number }}">
                   &laquo;
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span>
                  &laquo;
                </span>
            </li>
        {% endif %}
        {% for i in users.paginator.page_range %}
        {% if users.number == i %}
            <li class="active">
                <span class="sr-only">
                    <b>{{ i }}</b> 
                </span>
            </li>
       {% else %}
            <li>
               <a href="?page={{ i }}">
                 <b>{{ i }}</b>
               </a>
            </li>
        {% endif %}
        {% endfor %}
        {% if users.has_next %}
            <li>
                <a href="?page={{ users.next_page_number }}">
                   &raquo;
                </a>
            </li>
       {% else %}
            <li class="disabled">
                <span>
                  &raquo;
                </span>
            </li>
       {% endif %}
        </ul>
        {% endif %}
        </div>
		{% else %}
			<p>Nothing to display</p>
		{%endif %}
	</center>
	<script type="text/javascript">
		function warn(){
			alert("Item will be deleted");
		}
	</script>
	<style type="text/css">
	    #clear{
	    	padding:5;
	    	width:100;
	    	height:40;
	    	background:red;
	    	color:white;
	    }
		#dbtable{
			width:95%;
			padding-top:5%;
			border-collapse:collapse;			
		}
		
		.fixed td {
           overflow: hidden;
            height: 10;
            background-color:green;
        }

        .fixed1{
			background-color:#B0E0E6;
		}

		#pag{
			width:100%;
			position:fixed;
		}

		.pagination a{
			color:black;
			margin-left:20%;
		}

		.pagination .active{
			color:green;
		}


	</style>
</div>
{% endblock %}



