{%extends 'includes/newbes.html'%}
{% block body_block %}
<div style="padding-top:5%;">
<center>
  <h1>
  <form method="POST" action="{% url 'buy' %}"  name="sub">
    {% csrf_token %}
    <table id="tebo">
      
      <tr>
        <td>
           <b>Number:</b>
          <input placeholder="Enter phone number here" class="in" name="phone"  required>
        </td>
      </tr>
      <tr>
        <td>
           <b>Amount:</b>
          <input placeholder="Enter amount here" class='in' name="amount" required>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" id="send_button" style="color:green;" name="Send" value="Buy">
        </td>
      </tr>
    </table>
  </form>
</h1>
</center>
</div>
<style type="text/css">
  #send_button{
    width:70;
    height:40;
    margin-left:150;
  }
  .in{
    width:250;
    height:35;
  }
  table{
    width:60%;
    height:40%;
    margin-left:250;

  }
</style>
{% endblock %}