{%extends 'includes/newbes.html'%}
{% block body_block %}
<div style="padding-top:5%;">
<h1>Buy Airtime</h1>
<h3>
  <a href="{% url 'airtime' %}">Use MobileMoney</a>
</h3>
<center>
  <div id="at_buddy">
   <form method="POST" action="{% url 'buy' %}"  name="sub">
    {% csrf_token %}
    <table id="tebo">
      
      <tr>
        <td>
           <b>Number:</b>
          <input placeholder="Enter phone number here" class="in" name="phone"  required>
        </td>
      </tr>
      <tr>
        <td>
           <b>Amount:</b>
          <input placeholder="Enter amount here" class='in' name="amount" required>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" id="send_button" style="color:green;" name="Send" value="Buy">
        </td>
      </tr>
    </table>
  </form>
</div>
</center>
</div>
<style type="text/css">

  #send_button{
    width:70;
    height:40;
    margin-left:150;
  }

  .in{
    width:250;
    height:35;
  }

  #at_buddy{
    padding-top:10%;
  }

  table{
    width:60%;
    height:40%;
    margin-left:250;
  }

  h1{
    float:left;
    color:green;
    margin-left:10%;
  }

  a{
    color:white;
  }


  h3{
    float:right;
    margin-right:15%;
    padding:20;
    background:green;    
  }
</style>
{% endblock %}