{% extends 'includes/newbes.html' %}
<div>
{% block body_block %}
<strong>
	<center>
		{% if stats %}
		<h2>AT account history</h2>
			<table border="1" id="dbtable">
			<tr class="fixed">
				<td>
				<b>
				  Date
				</b>
				</td>
				<td>
				<b>
				  Amount
				</b>
				</td>
				<td>
				<b>
				  Destination
				</b>
				</td>
				<td>
				<b>
				  Status
				</b>
				</td>
				<td>
				<b>
				  Action
				</b>
				</td>
			</tr>
			{% for stat in stats %}
			<tr class="fixed1">
				<td>{{stat.date}}</td>
				<td>{{stat.amount}}</td>
				<td>{{stat.destination}}</td>
				<td>{{stat.status}}</td>
				<td><a href="/airtime/delete/{{stat.id}}">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>Nothing to display</p>
		{%endif %}
	</center>
	<style type="text/css">
		#dbtable{
			width:95%;
			margin-top:60;
			position:relative;
		}
		.fixed td {
            position: relative;
            overflow: hidden;
            height: 10;
            background-color:green;
        }

        .fixed1{
			background-color:#B0E0E6;
		}
	</style>
</strong>
{% endblock %}
</div>


