{% extends 'includes/newbes.html' %}
{% block body_block %}
<div style="padding-top:5%;">

	<h2>
	  MobileMoney 
	</h2>
	<h3>
		<a href="{% url 'buy1' %}">Use 0zz</a>
	</h3>
	    
    <center>
	<div id="momo">
	    <form method="POST" action="{% url 'at' %}"  name="sub">
		{% csrf_token %}
		<table id="tebo">
			<tr>
				<td>
					Mobile Money No:
				</td>
				<td>
					<input name="chargephone" class="inz" placeholder="Enter Mobile Money No. here" minlength="13" maxlength="13" required>
				</td>
			</tr>
			<tr>
				<td>
					Receiver:
			    </td>
			   	<td>
			   		<input placeholder="Enter receiver's number here" class="inz" name="phone"  required>
			   	</td>
			</tr>
			<tr>
				<td>
				  Amount
				</td>
				<td>
					<input placeholder="Enter amount here" class="inz" name="amount" required>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" id="mbuy" style="color:green;" name="Send" value="Buy Airtime">
				</td>
			</tr>
		</table>
	    </form>
	</div>
    </center>
</div>
<style type="text/css">
	#tebo{
		width:50%;
		height:40%;
	}
	#mbuy{
		width:80;
		height:30;
	}
	.inz{
		width:200;
		height:30;
	}
	#momo{
		
	}
	h2{
		margin-left:5%;
		padding:20;
		width:200;
		background:green;
	}
	h3{
		margin-left:10%;
	}
	a{
		color:teal;
	}
</style>
{% endblock %}
