<html>
	<head>
       <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">     
	</head>
	<nav class="navbar navbar-expand-sm bg-light navbar-light" >
   <br>
		<ul class="nav navbar-nav">      
            
            <li>
                <a href="#"  class="btn btn-lg">
                  About
                </a>
            </li>
            <li><a class="sep" href="#"></a></li>
            <li>
                <a href="#"  class="btn btn-lg">
                  Pricing
                </a>
            </li>
            <li><a class="sep" href="#"></a></li>            
            <li>
                <a id="navs" href="/accounts/signup/" class="btn btn-lg">
                   Sign up
                </a>
            </li>
        </ul>        
	</nav>
	<style type="text/css">
		nav{
      background:#355C7D/* darkblue*/;
      width: 100%;      
		}
		.btn{
			color:white;
			/*background:#990000;*/
		}
	</style>
</html>