<html>
	<head>
       <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">     
	</head>
	<nav class="navbar navbar-expand-sm bg-light navbar-light" >
  	<ul>      
            
            <li id="navs">
                <a href="#" >
                  <b>About</b>
                </a>
            </li>
            
            <li id="navs" >
                <a href="#" >
                  <b>Pricing</b>
                </a>
            </li>
                       
            <li id="navsign" >
                <a id="navs" href="/accounts/signup/">
                  <b>SignUp</b>
                </a>
            </li>
        </ul>        
	</nav>
	<style type="text/css">
		nav{
      background:#355C7D/* darkblue*/;
      height:40;
      width: 100%;      
		}

    #navs{
      float:right;
      margin-right:30;
      font-size:20;
      padding:10;      
    }
    #navsign{
      float:right;
      
    }

		b{
      color:white;      
    }
	</style>
</html>