
{% extends "includes/newbes.html" %}
  {% load staticfiles %}
  {% block body_block%}
  <head>
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  </head>
  <div style="padding-top:2%;">
    <div style="float:right;margin-right:50;">
      <a href="{% url 'login' %}" style="background: red;" class="btn btn-warning btn-lg">Sign out</a>
    </div>

    <center>
	   <form class="form-horizontal" id='fom' action='/accounts/profile/' method="POST">
      {% csrf_token %}
      <div id="legend">
        <h2>
          <legend style="color:green;">
            Update Profile
          </legend>
        </h2>
      </div>


      <div class="control-group">
        <!-- Username -->
      
        <div class="controls">
          <input type="text" id="username" placeholder="Username" name="username" value="{{user.username}}" class="input-xlarge">
        </div>
      </div>
 

      <div class="control-group">
        <!-- first_name -->
     
        <div class="controls">
          <input type="text" id="first_name" placeholder="first_name" name="first_name" value="{{user.first_name}}" class="input-xlarge" disabled>
        </div>
      </div>

      <div class="control-group">
        <!-- last_name -->
      
        <div class="controls">
          <input type="text" id="last_name" placeholder="last_name" name="last_name" value="{{user.last_name}}" class="input-xlarge" disabled>
        </div>
      </div>

      <div class="control-group">
      <!-- E-mail -->
      
      <div class="controls">
        <input type="email" id="email" placeholder="E-mail" name="email" value="{{user.email}}" class="input-xlarge" disabled>
      </div>
    </div>
     
    <div class="control-group">
      <!-- Password-->
      
      <div class="controls">
        <input type="password" placeholder="Password" id="password" name="password" class="input-xlarge" required>        
      </div>
      <input type="password" placeholder="Confirm password" id="password" name="password" class="input-xlarge" required="password">
    </div> 
    
    <!-- Button -->
      <div class="controls">
        <br>
        <button class="btn btn-success" style="color:green;width:100;height:35;">Update</button>
      </div>
  
    </form>
  </center>
</div>
<style type="text/css">

input{
  height:8%; 
  width:30%;
  padding-top:10;
  padding- bottom:10;
}

   #profile{
            background: #0277bd;
        }

div{
  padding:2;
}
     
</style>

    {% endblock %}